roomer:
    build: ../roomer/
    environment:
        SERVER: "irc:6667"
        SERVER_NAME: "192.168.99.100:6667"
        DISPATCH: "vision:8080"
    volumes:
        - ../roomer/:/go/src/github.com/bigroom/roomer
    links:
        - irc
        - vision

vision:
    build: ../vision/
    volumes:
        - ../vision/:/go/src/github.com/bigroom/vision
    ports:
        - "6060:3000"
    expose:
        - "8080"
    links:
        - jarvis

quake:
    build: ../mystique
    volumes:
        - ../mystique/:/app
    ports:
        - "80:8080"

irc:
    image: yrpri/ngircd
    ports:
        - "6667:6667"

jarvis:
    image: postgres
