roomer:
    build: ../roomer/
    environment:
        SERVER: "irc:6667"
        SERVER_NAME: "192.168.99.100:6667"
        DISPATCH: "vision:8080"
    volumes:
        - ../roomer/:/go/src/github.com/bigroom/roomer
    links:
        - irc
        - vision

vision:
    build: ../vision/
    environment:
        DEFAULT_IRC: "192.168.99.100"
    volumes:
        - ../vision/:/go/src/github.com/bigroom/vision
        - ../zombies/:/go/src/github.com/bigroom/zombies
    expose:
        - "6060"
        - "8080"
    links:
        - jarvis

mystique:
    build: ../mystique
    volumes:
        - ../mystique/:/app
    expose:
        - "8080"

cereal_killer:
    build: ./nginx
    ports:
        - "80:80"
    links:
        - vision
        - mystique

irc:
    image: yrpri/ngircd
    ports:
        - "6667:6667"

jarvis:
    image: postgres
